#Required
COMMENTO_ORIGIN=https://bartlettd-commento2.duckdns.org
COMMENTO_PORT=8081
COMMENTO_POSTGRES=postgres://postgres:postgres@db:5432/commento?sslmode=disable

#Optional
#SMTP
COMMENTO_SMTP_HOST=
COMMENTO_SMTP_PORT=
COMMENTO_SMTP_USERNAME=
COMMENTO_SMTP_PASSWORD=
COMMENTO_SMTP_FROM_ADDRESS=

#Auth Options
COMMENTO_GOOGLE_KEY=
COMMENTO_GOOGLE_SECRET=

COMMENTO_GITHUB_KEY=
COMMENTO_GITHUB_SECRET=

COMMENTO_TWITTER_KEY=
COMMENTO_TWITTER_SECRET=
